* {
    box-sizing: border-box;
}

body {
    background-color: #A0D8ED;
    margin: 0;
}

header {
    padding: 30px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background: #1F82A5;
    color: white;
}

nav {
    display: flex;
    background-color: #1F82A5;
    justify-content: center;
    
}

.sides {  
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 80%;
    background-color: #A0D8ED;
    padding: 20px;
}

aside {
    flex: 20%;
    justify-content: center;
    background-color: #A0D8ED;
    padding: 20px;
}

#aside-img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}


footer {
    padding: 20px;
    text-align: center;
    background-color: #d5eef7;
    width: 20%;
}

@media screen and (max-width: 700px) {
    .sides, nav {   
    flex-direction: column;
    }
}

.intro{
    background-color: #d5eef7;
    padding: 20px;
    margin: 10px 50px 10px 0px;
}

.exp{
    background-color: #d5eef7;
    padding: 20px;
    margin: 10px 50px 10px 0px;
}

#contact{
    background-color:rgb(235, 235, 179);
    padding: 10px;
    float: right;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
}
