.flex-container {
    display: flex;
    width: 40%;
    flex-direction: column;
    background-color: DodgerBlue;
}
.flex-container>div {
    background-color: #f1f1f1;
    margin: 70px;
    padding: 100px;
    font-size: 30px;
}
.main-img{
    float:right;
    max-width: 50%;
    height: auto;
    font-size:10px;
}
