* {
    box-sizing: border-box;
}

body {
    background-color: #1F82A5;
    margin: 0;
}

header {
    padding: 30px;
    text-align: center;
    background: #1F82A5;
    color: white;
}

nav {
    display: flex;
    background-color: #1F82A5;
    justify-content: center;
    margin: 5px 0px 5px 0px;
}


nav a {
    border-style: inset;
    color: white;
    background-color: darkgrey;
    padding: 10px 15px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    text-align: center;
}


nav a:hover {
    background-color: #ddd;
    color: black;
}

.sides {  
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 80%;
    background-color: #1F82A5;
    padding: 20px;
}

aside {
    flex: 20%;
    justify-content: center;
    background-color: #1F82A5;
    padding: 20px;
}

#aside-img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}


footer {
    padding: 20px;
    text-align: center;
    background-color: #d5eef7;
    width: 20%;
}

@media screen and (max-width: 700px) {
    .sides, nav {   
    flex-direction: column;
    }
}

.intro{
    background-color: #d5eef7;
    padding: 20px;
    margin: 10px 50px 10px 0px;
}

.exp{
    background-color: #d5eef7;
    padding: 20px;
    margin: 10px 50px 10px 0px;
}

#contact{
    background-color:rgb(235, 235, 179);
    padding: 10px;
    float: right;
}
